<header>
    <div class="logo">
        <h4>Restaurant</h4>
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="">Check-Order</a></li>
    </ul>
</header>